// *************************************
//
//   Talk
//
// *************************************

.talk
  margin-bottom: rem($base-whitespace)
  padding-bottom: rem($base-whitespace * 4)
  padding-top: rem($base-whitespace * 4)
  text-align: center

// -------------------------------------
//   Modifiers
// -------------------------------------

.talk--upcoming
  margin-bottom: rem($base-whitespace * 4)
  p
    font-size: rem(16px)
    margin: rem(20px) auto
    max-width: 650px
    +respond-to($l-breakpoint--a)
      font-size: rem(20px)
  .talk-date
    font-size: rem($base-fontSize)
    margin: 0
    max-width: none

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Talk Label ----- //

.talk-date
  border-bottom: $base-border
  border-right: $base-border
  display: inline-block
  font-family: $c-header-fontFamily
  font-size: rem($base-fontSize)
  left: 4px
  padding: rem(5px) rem($base-whitespace)
  position: absolute
  top: 4px

// ----- Talk Title ----- //

.talk-title
  @extend %c-h3
  margin: 0 0 rem($base-whitespace / 2)
  text-transform: none

// ----- Talk Author ----- //

.talk-author
  font-size: rem(18px)

// ----- Talk Number ----- //

.talk-num
  bottom: 0
  font-family: $c-alt-fontFamily
  font-size: rem(40px)
  position: absolute
  right: 15px
