!!! 5
%html(lang="en")
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %meta(content="width=device-width, initial-scale=1.0" name="viewport")
  %title Design Orlando
  %link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  %link(href="assets/css/application.css" rel="stylesheet")
%body.site.site-home

  / Header

  %header.site-header.row
    .cell
      .logo
        <a href="/"><img src="assets/images/logo.png" alt="Design Orlando" /></a>
      .headline
        %h1 <i>Meet.</i> Learn. <b>DO.</b>
        %h3 Downtown Orlando. <i>Every month.</i>

  / Talks

  .talks.cell
    %h2 Our Talks
    %ol
      %li.talk.is-upcoming
        %p.label Next Talk
        .poster
          %span 02.12.13
        .details
          %h4.title <a href="http://www.meetup.com/Design-Orlando/events/102557212/">Design Discussion: Mastering Your Craft</a>

        %a.btn-a(href="http://www.meetup.com/Design-Orlando/events/102557212/") RSVP &rarr;

      %li.talk
        .poster
          %span 01.08.13
        .details
          %h4.title <a href="http://www.meetup.com/Design-Orlando/events/97508142">Design Discussion</a>
          %h5 by Jason VanLue

        %a.btn-a(href="https://speakerdeck.com/designorlando/7-in-7") View Slides

      %li.talk.is-upcoming
        .poster
          %span 12.11.12
        .details
          %h4.title <a href="http://www.meetup.com/Design-Orlando/events/89224162/">DO Grok</a>
          %p Come prepared to bring up a topic, weigh in on some issues, or to just listen to some good discussion.

      %li.talk
        .poster
          %span 11.13.12
        .details
          %h4.title <a href="http://www.meetup.com/design-orlando/events/89222462/">Designing With a Narrative in Mind</a>
          %h5 by Justin Mezzell

        %a.btn-a(href="https://speakerdeck.com/designorlando/design-discussion-with-justin-mezzell") View Slides

      %li.talk
        .poster
          %span 10.09.12
        .details
          %h4.title <a href="http://www.meetup.com/Design-Orlando/events/85466962/">Bridging Design Gaps with Sass + Compass</a>
          %h5 by Nick Walsh

        %a.btn-a(href="https://speakerdeck.com/designorlando/bridging-design-gaps-with-sass-plus-compass") View Slides

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36528556-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50ae70e3613f5d2b6e000062');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  %script(src="assets/javascripts/jquery.js")
  %script(src="assets/javascripts/application.js")
