!!! 5
%html(lang="en")
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %meta(content="width=device-width, initial-scale=1.0" name="viewport")
  %title Design Orlando
  %link(href="favicon.ico" rel="shortcut icon" type="image/x-icon")
  %link(href="assets/stylesheets/application.css" rel="stylesheet")
%body.site.site-home

  / Header

  %header.row--a.header
    .cell
      .logo
        <a href="/"><img src="assets/images/logo.png" alt="Design Orlando" /></a>
      .headline
        %h1 <i>Meet.</i> Learn. <b>DO.</b>
        %h3 Downtown Orlando. <i>Every month.</i>

  / Talks

  .row.talks
    .cell
      %h2 Our Talks

      %ol
        %li.card.talk.is-upcoming
          %p.talk-label Next Talk
          .talk-poster
            %span 04.09.13
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/111518322/">Design Discussion: Narrative Design and Implementation</a>
            %h5 by Jason Vanlue, Nick Walsh, &amp; Justin Mezzell

          %a.btn--a.talk-btn(href="http://www.meetup.com/Design-Orlando/events/111518322/") RSVP &rarr;

        %li.card.talk
          .talk-poster
            %span 03.13.13
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/106909682/">Your Money &amp; Your Life?</a>
            %h5 by Carl Smith

        %li.card.talk
          .talk-poster
            %span 02.12.13
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/102557212/">Design Discussion: Mastering Your Craft</a>
            %h5 by Bill Columbia

          %a.btn--a.talk-btn(href="https://speakerdeck.com/designorlando/craftsmanship") View Slides

        %li.card.talk
          .talk-poster
            %span 01.08.13
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/97508142">Design Discussion</a>
            %h5 by Jason VanLue

          %a.btn--a.talk-btn(href="https://speakerdeck.com/designorlando/7-in-7") View Slides

        %li.card.talk
          .talk-poster
            %span 12.11.12
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/89224162/">DO Grok</a>
            %p Come prepared to bring up a topic, weigh in on some issues, or to just listen to some good discussion.

        %li.card.talk
          .talk-poster
            %span 11.13.12
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/design-orlando/events/89222462/">Designing With a Narrative in Mind</a>
            %h5 by Justin Mezzell

          %a.btn--a.talk-btn(href="https://speakerdeck.com/designorlando/design-discussion-with-justin-mezzell") View Slides

        %li.card.talk
          .talk-poster
            %span 10.09.12
          .talk-details
            %h4.talk-title <a href="http://www.meetup.com/Design-Orlando/events/85466962/">Bridging Design Gaps with Sass + Compass</a>
            %h5 by Nick Walsh

          %a.btn--a.talk-btn(href="https://speakerdeck.com/designorlando/bridging-design-gaps-with-sass-plus-compass") View Slides

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36528556-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '50ae70e3613f5d2b6e000062');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  %script(src="assets/javascripts/jquery.js")
  %script(src="assets/javascripts/application.js")
