!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %meta(content="width=device-width, initial-scale=1.0" name="viewport")
  %title Design Orlando - Grok
  %link(href="../favicon.ico" rel="shortcut icon" type="image/x-icon")
  %link(href="../assets/css/grok.css" rel="stylesheet")
%body.site.site-grok
  .row
    %h1 DO Grok
  .cell
    %ul
      %li Design, Front-end Process
      %li When is a design finished?
      %li Design, Front-end Tools
      %li Choosing a color scheme for a design
      %li Front-end Naming
