/* line 5, ../stylesheets/_reset.sass */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* line 24, ../stylesheets/_reset.sass */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 27, ../stylesheets/_reset.sass */
body {
  line-height: 1; }

/* line 29, ../stylesheets/_reset.sass */
ol, ul {
  list-style: none; }

/* line 31, ../stylesheets/_reset.sass */
blockquote, q {
  quotes: none; }

/* line 33, ../stylesheets/_reset.sass */
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

/* line 37, ../stylesheets/_reset.sass */
table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "OpenSansRegular";
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansBold";
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "OpenSansExtrabold";
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot");
  src: url("../fonts/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-ExtraBold-webfont.woff") format("woff"), url("../fonts/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-ExtraBold-webfont.svg#OpenSansExtrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 76, ../stylesheets/_settings.sass */
.cell, .talks, .site-header {
  zoom: 1; }
  /* line 78, ../stylesheets/_settings.sass */
  .cell:before, .talks:before, .site-header:before, .cell:after, .talks:after, .site-header:after {
    content: "";
    display: table; }
  /* line 82, ../stylesheets/_settings.sass */
  .cell:after, .talks:after, .site-header:after {
    clear: both; }

/* line 61, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 100%; }

/* line 64, ../../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 16px;
  line-height: 1.5em; }

/* line 7, ../stylesheets/_base.sass */
html {
  background: #ece9ec; }

/* line 10, ../stylesheets/_base.sass */
body {
  color: #316066;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif; }

/* line 18, ../stylesheets/_base.sass */
h1, h2, h3,
h4, h5, h6 {
  color: #0b2326;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif; }

/* line 23, ../stylesheets/_base.sass */
h1 {
  font-size: 5em;
  line-height: 1.05em;
  color: white;
  font-family: "OpenSansExtrabold", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }
  /* line 28, ../stylesheets/_base.sass */
  h1 b {
    color: #cd5646; }

/* line 31, ../stylesheets/_base.sass */
h2 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-bottom: 1.2em;
  font-family: "OpenSansExtrabold", Helvetica, Arial, sans-serif;
  text-transform: uppercase; }

/* line 37, ../stylesheets/_base.sass */
h3 {
  font-size: 2.125em;
  line-height: 1.41176em;
  color: #cd5646; }

/* line 41, ../stylesheets/_base.sass */
h4 {
  font-size: 1.375em;
  line-height: 1.30909em;
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif; }

/* line 45, ../stylesheets/_base.sass */
h5 {
  margin-bottom: 0.3em;
  font-size: 0.875em;
  line-height: 1.71429em;
  color: #7f7f7f;
  font-family: "OpenSansRegular", Helvetica, Arial, sans-serif; }

/* line 55, ../stylesheets/_base.sass */
p {
  line-height: 1.5em; }

/* line 62, ../stylesheets/_base.sass */
a {
  color: #cd5646;
  text-decoration: none; }
  /* line 65, ../stylesheets/_base.sass */
  a:hover, a:focus {
    color: #9c382a; }

/* line 71, ../stylesheets/_base.sass */
strong {
  font-family: "OpenSansBold", Helvetica, Arial, sans-serif; }

/* line 76, ../stylesheets/_base.sass */
.row {
  background: #0b2326; }

/* line 79, ../stylesheets/_base.sass */
.cell {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 24px;
  padding-right: 24px; }
  @media screen and (min-width: 600px) {
    /* line 79, ../stylesheets/_base.sass */
    .cell {
      padding-top: 3em;
      padding-bottom: 3em; } }
  @media screen and (min-width: 900px) {
    /* line 79, ../stylesheets/_base.sass */
    .cell {
      padding-top: 3.75em;
      padding-bottom: 3.75em; } }

/* line 99, ../stylesheets/_base.sass */
.card {
  background: white; }

/* line 17, ../stylesheets/application.sass */
.btn-a {
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  display: block;
  padding-left: 48px;
  padding-right: 48px;
  text-align: center; }

/* line 26, ../stylesheets/application.sass */
.btn-a {
  background: #939c9d;
  color: white; }
  /* line 30, ../stylesheets/application.sass */
  .btn-a:hover, .btn-a:focus {
    background: #cd5646;
    color: white; }

/* line 40, ../stylesheets/application.sass */
.talks .talk {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.8em;
  background: white;
  display: block;
  min-height: 350px;
  position: relative; }
  @media screen and (min-width: 600px) {
    /* line 40, ../stylesheets/application.sass */
    .talks .talk {
      float: left;
      width: 48%; }
      /* line 51, ../stylesheets/application.sass */
      .talks .talk:nth-child(2n) {
        float: right; } }
  @media screen and (min-width: 900px) {
    /* line 40, ../stylesheets/application.sass */
    .talks .talk {
      margin-right: 3%;
      width: 31%; }
      /* line 57, ../stylesheets/application.sass */
      .talks .talk:nth-child(2n) {
        float: left; }
      /* line 59, ../stylesheets/application.sass */
      .talks .talk:nth-child(3n) {
        margin: 0; } }
  /* line 64, ../stylesheets/application.sass */
  .talks .talk .label {
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    background: #cd5646;
    color: white;
    left: -10px;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    top: -15px;
    z-index: 1; }
  /* line 78, ../stylesheets/application.sass */
  .talks .talk .poster {
    background: #0b2326;
    height: 150px;
    text-align: center;
    overflow: hidden;
    position: relative; }
    /* line 84, ../stylesheets/application.sass */
    .talks .talk .poster span {
      font-size: 4.375em;
      line-height: 1.37143em;
      margin-top: 0.375em;
      color: rgba(255, 255, 255, 0.35);
      display: inline-block;
      font-family: "OpenSansExtrabold", Helvetica, Arial, sans-serif; }
  /* line 93, ../stylesheets/application.sass */
  .talks .talk .details {
    padding-top: 0.75em;
    padding-left: 1em;
    padding-right: 1em; }
  /* line 98, ../stylesheets/application.sass */
  .talks .talk .btn-a {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%; }

/* line 113, ../stylesheets/application.sass */
.site-header .logo {
  display: none;
  float: left;
  margin-right: 10%;
  width: 15%; }
/* line 118, ../stylesheets/application.sass */
.site-header .headline {
  text-align: center; }
  /* line 120, ../stylesheets/application.sass */
  .site-header .headline h3 {
    font-size: 1.75em;
    line-height: 1.71429em; }
  /* line 122, ../stylesheets/application.sass */
  .site-header .headline i {
    display: block; }
@media screen and (min-width: 900px) {
  /* line 126, ../stylesheets/application.sass */
  .site-header .logo {
    display: block; }
  /* line 128, ../stylesheets/application.sass */
  .site-header .headline {
    margin-top: 3em;
    float: left;
    text-align: left;
    width: 75%; }
    /* line 133, ../stylesheets/application.sass */
    .site-header .headline h1 {
      font-size: 4.375em;
      line-height: 0.96em; }
    /* line 135, ../stylesheets/application.sass */
    .site-header .headline h3 {
      font-size: 2.125em;
      line-height: 1.41176em; }
    /* line 137, ../stylesheets/application.sass */
    .site-header .headline i {
      display: inline; } }
@media screen and (min-width: 1005px) {
  /* line 141, ../stylesheets/application.sass */
  .site-header .headline {
    margin-top: 1.95em; }
    /* line 143, ../stylesheets/application.sass */
    .site-header .headline h1 {
      font-size: 5em;
      line-height: 1.05em; } }
