//-------------------------------------
//  Imports
//-------------------------------------

// ----- Compass ----- //

@import "compass"
@import "compass/layout"

// ----- Core ----- //

@import "core/reset"
@import "core/settings"
@import "core/base"

//-------------------------------------
//  Modules
//-------------------------------------

@import "modules/buttons"
@import "modules/containers"
@import "modules/talks"

// ----- Site Header ----- //

.siteHeader
  @extend %group

// ----- Logo ----- //

.logo
  display: none
  float: left
  margin-right: 10%
  width: 15%
  +respond-to(900px)
    display: block

// ----- Headline ----- //

.headline
  text-align: center
  h3
    +adjust-font-size-to(28px)
  i
    display: block
  +respond-to(900px)
    +leader(2)
    float: left
    text-align: left
    width: 75%
    h1
      +adjust-font-size-to(70px, 2.8)
    h3
      +adjust-font-size-to(34px)
    i
      display: inline
  +respond-to(1005px)
    +leader(1.3)
    h1
      +adjust-font-size-to(80px, 3.5)

//-------------------------------------
//  Inbox
//-------------------------------------

