//-------------------------------------
//  Base
//-------------------------------------

html
  font-size: $base-fontSize
  height: 100%

body
  +transition(background-color 0.4s ease-out)
  background: $base-background
  color: $base-color
  font-family: $base-fontFamily
  font-size: 100%
  line-height: $base-lineHeight
  padding-bottom: rem($base-whitespace * 4)

  @for $i from 1 through $colors-total
    &.color--#{$i}
      background-color: color-for($i)
      a:hover
        box-shadow: inset 2px 1px 0 color-for($i), 1px 2px 0 rgba(#fff, 0.4)
      .btn:hover
        box-shadow: inset 3px 2px 0 color-for($i), 2px 3px 0 rgba(#fff, 0.4)

  .l-logo a:hover
    box-shadow: none


// ----- Block Content ----- //

p
  font-size: rem($base-fontSize)
  margin: 0 0 rem($base-whitespace)

ol, ul
  margin: 0
  padding: 0
ol li,
ul li
  list-style-type: none

// ----- Inline Content ----- //

a
  +transition(all 0.2s ease-in-out)
  border-bottom: $base-border
  color: $base-color
  text-decoration: none
  &:hover,
  &:focus
    background: #fff
    background: rgba(#fff, 0.4)
    color: $base-color

img
  height: auto
  min-width: 100%
