// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

// -------------------------------------
//   Card
// -------------------------------------

.l-card
  +box-sizing(border-box)
  border: $base-border
  border-radius: $base-borderRadius
  padding: rem($base-whitespace)
  position: relative

// -------------------------------------
//   Cell
// -------------------------------------

%l-cell, .l-cell
  margin: 0 auto
  max-width: rem($l-maxWidth)
  padding: 0 rem($base-whitespace)
  +respond-to($l-breakpoint--a)
    padding: 0 rem($base-whitespace * 3)

// -------------------------------------
//   Row
// -------------------------------------

.l-row, %l-row
  margin: 0 0 rem(40px)

// ----- Modifiers ----- //

.l-row--a
  @extend %group
  @extend %l-row
  text-align: center
  padding: rem($base-whitespace * 3) 0 rem($base-whitespace / 2)
  a
    border-bottom-color: $base-color

  +respond-to($l-breakpoint--a)
    padding: rem($base-whitespace * 4) 0 rem($base-whitespace * 2)
    text-align: left

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block
  display: block

%l-condense, .l-condense
  margin-bottom: rem($base-whitespace / 2)

%l-flush, .l-flush
  margin-bottom: rem(5px)

%l-pullLeft, .l-pullLeft
  float: left

%l-pullRight, .l-pullRight
  float: right

.l-push
  padding-bottom: rem($base-whitespace * 4)

%l-space, .l-space
  margin-bottom: rem($base-whitespace)

%l-xspace, .l-xspace
  margin-bottom: rem($base-whitespace * 2)

// -------------------------------------
//   Submodules
// -------------------------------------

// ----- Footer ----- //

.l-footer
  margin-bottom: rem($base-whitespace * 4)
  margin-top: rem($base-whitespace * 4)
  position: relative

.l-footer-logo
  border: 0
  bottom: rem($base-whitespace * 2)
  display: block
  left: 50%
  margin-left: -80px
  position: absolute
  svg
    height: 79px
    width: 160px
    fill: rgba(#000, 0.7)
  &:hover,
  &:focus
    background: none
    svg
      fill: rgba(#fff, 0.4)

// ----- Logo ----- //

.l-logo
  margin: 0 auto rem($base-whitespace)
  svg
    fill: rgba(#000, 0.7)
  a
    border: 0
    display: block
  a:hover,
  a:focus
    background: none
    svg
      fill: rgba(#fff, 0.4)

  +respond-to($l-breakpoint--a)
    float: left
    margin: 0
    width: 20%
