!!! 5
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
  %meta(charset="utf-8")
  %title Jason VanQuotes
  %link(href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:900" rel="stylesheet")
  %link(href="assets/css/application.css" rel="stylesheet")
%body

  %ul
    %li "That's not gonna happen."
    %li "Is that a hill worth dying on?"
    %li "Over the radar."
    %li "From a design-standpoint..."
    %li "It is what it is."
    %li "Leverage, synergy."
    %li "There's two sides to the equation."
    %li "The other side of the equation."
    %li "The numbers are fuzzy."
    %li "Jazz that up a bit."
    %li "That's low on the priority pole."

  %script(src="assets/javascripts/jquery.js")
  :javascript
    $(function() {
      function showQuote() {
        var number = Math.floor(Math.random() * $('ul li').length);
        $('ul li').hide();
        $('ul li:eq('+ number +')').show();
      }
      window.setInterval(showQuote, 4000);
      showQuote();
    });
