.row.row--b
  .cell.well

    %h2.mbxs Next Talk

    - data.talks.each_with_index do |talk, index|
      = partial 'talks/talk', locals: { talk: talk, number: index }

.row
  .cell.well

    %h2 Past Talks

    - data.talks.each_with_index do |talk, index|
      - unless index == 0
        = partial 'talks/past_talk', locals: { talk: talk, number: index }
