.talks

  %h2 Next Talk

  %article.l-card.talk.is-upcoming
    %span.talk-num #9

    %h4.talk-date 06.11.13
    %p The speaker/topic has not been selected yet.
    %a.btn(href="#") Request to speak

  %h2 Past Talks

  %article.l-card.talk
    %span.talk-num #8

    %h4.talk-date 05.14.13
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/116801002/">Design Thinking Workshop</a>
    %h5 by <a href="https://twitter.com/robbschiller">Robb Schiller</a>

    %a.btn(href="https://speakerdeck.com/robbschiller/design-thinking-workshop-design-orlando-may-2013") View Slides

  %article.l-card.talk
    %span.talk-num #7

    %h4.talk-date 04.09.13
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/111518322/">Design Discussion: Narrative Design &amp; Implementation</a>
    %h5 by <a href="https://twitter.com/jasonvanlue">Jason VanLue</a>, <a href="https://twitter.com/nickawalsh">Nick Walsh</a>, &amp; <a href="https://twitter.com/justinmezzell">Justin Mezzell</a>

  %article.l-card.talk
    %span.talk-num #6

    %h4.talk-date 03.13.13
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/106909682/">Your Money &amp; Your Life?</a>
    %h5 by <a href="https://twitter.com/carlsmith">Carl Smith</a>

  %article.l-card.talk
    %span.talk-num #5

    %h4.talk-date 02.12.13
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/102557212/">Design Discussion: Mastering Your Craft</a>
    %h5 by <a href="https://twitter.com/billcolumbia">Bill Columbia</a>

    %a.btn(href="https://speakerdeck.com/designorlando/craftsmanship") View Slides

  %article.l-card.talk
    %span.talk-num #4

    %h4.talk-date 01.08.13
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/97508142">Design Discussion</a>
    %h5 by <a href="https://twitter.com/jasonvanlue">Jason VanLue</a>

    %a.btn(href="https://speakerdeck.com/designorlando/7-in-7") View Slides

  %article.l-card.talk
    %span.talk-num #3

    %h4.talk-date 12.11.12
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/89224162/">DO Grok</a>
    %h5 by <a href="http://twitter.com/nickawalsh">Nick Walsh</a> &amp; <a href="http://twitter.com/drewbarontini">Drew Barontini</a>

  %article.l-card.talk
    %span.talk-num #2

    %h4.talk-date 11.13.12
    %h3.talk-title <a href="http://www.meetup.com/design-orlando/events/89222462/">Designing With a Narrative in&nbsp;Mind</a>
    %h5 by <a href="https://twitter.com/justinmezzell">Justin Mezzell</a>

    %a.btn(href="https://speakerdeck.com/designorlando/design-discussion-with-justin-mezzell") View Slides

  %article.l-card.talk
    %span.talk-num #1

    %h4.talk-date 10.09.12
    %h3.talk-title <a href="http://www.meetup.com/Design-Orlando/events/85466962/">Bridging Design Gaps with Sass&nbsp;+ Compass</a>
    %h5 by <a href="http://twitter.com/nickawalsh">Nick Walsh</a>

    %a.btn(href="https://speakerdeck.com/designorlando/bridging-design-gaps-with-sass-plus-compass") View Slides
